/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*akhir css reset*/

/*awal all*/
h1, h2, h3, p, a {
	color: white;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 140px;

}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 70px;
	color:#90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);

}

h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Orbitron', sans-serif;
	font-size: 17px;

}

a {
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	font-size: 20px;
}

span {
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	font-size: 20px;
}

body {
	background-color: black;
}

.container {
	width: 79.6%;
	margin: 0px auto;

}

.more {
	margin-left: 81%;
}

.more a {
	color: #7E7E7E;
	transition: 0.15s;
}

.more:hover a {
	color: #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
}

.line {
	background-color: #FA7EFF;
	height: 6px;
	margin-top: 10px;
	margin-right: 59.5%;
	border: 1px solid rgb(245 0 245 23%);
	border-radius: 8px;
	filter: drop-shadow(0px 0px 8px #F500FE);

}

.intro .line {
	margin-right: 16.2%;
}

/*akhir all*/




/*awal navbar*/
.navbar {
	height: 65px;
/*	background-color: blue;*/

	display: grid;
	grid-template-columns: 1fr 1fr;

}

.logo {
	/*background-color: salmon;*/
	align-self: center;
}

.logo h3 {
	color: #FA7EFF;
	filter: drop-shadow(0px 0px 9px #F500FE);
}

.qa {
	display: flex;
	/*background-color: yellow;*/
	align-self: center;
	justify-content:space-around;
}


.qabutton {
/*	background-color: lime;*/
	padding: 5px;
	border-radius: 5px;
	color: #7E7E7E;

	transition: 0.15s;
}


.qabutton:hover {
	color: #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
	transform: scale(1.1);
}


/*akhir navbar*/





/*awal intro*/
.intro {
	height: 319px;
	margin-bottom: 96px;
	box-sizing: border-box;
	/*background-color: salmon;*/

	display: grid;
	grid-template-columns: 1fr 1fr;

}

.rizkia {
	background-color: black;
	align-self: center;
	/*justify-self: center;*/
	margin-left: 17%;
}

div .rizkia p {
	margin-bottom: 47px;
}

.hello {
	/*background-color: lime;*/
	align-self: center;
	justify-content:;

	display: grid;
	grid-template-rows: 1fr 0.3fr;
}

.hello p {
	margin: 0px;
	margin-left: 18%;
}

p.hellotext  {
	margin-bottom: 52px;
	
	}

.more.bio {
	/*background-color: aqua;*/
	margin-left: 62%;

}

/*akhir intro*/





/*service bar*/
.service {
	margin-bottom: 96px;
	background-color: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.skillbox {
	width: 79%;
	height: 228px;

	margin-top: 30px;
	margin-bottom: 30px ;
	margin-left: 6.25%;
	padding-top: 8.7%;

	border: 5px solid #7E7E7E;
	border-radius: 16px;
	box-sizing: border-box;

/*	background-color: black;*/
	text-align: center;	
	
	color: #7E7E7E;

	transition: 0.3s;
}

.skillbox h1, .skillbox h3 {
	color:#7E7E7E;
}


.skillbox:hover{
	border: 5px solid #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
	transform: scale(1.1);
}

.skillbox.b:hover {
	border: 5px solid #E98673;
	filter: drop-shadow(0px 0px 9px #EE2701);
	transform: scale(1.1);
}

.skillbox:hover h1, .skillbox:hover h3 {
	color:#90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);

}

.skillbox.b:hover h1, .skillbox.b:hover h3 {
	color:#E98673;
	filter: drop-shadow(0px 0px 9px #EE2701);

}


			


/*akhir service bar*/





/*awal my work*/
.workdisplay {
	margin-top: 30px;
	/*background-color: salmon;*/
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;

	display: grid;
	justify-items: center; 
	grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
	grid-gap: 30px;

}

.workthumb {
	/*background-color: lime;*/
	width: 100%;
	margin-bottom: 30px;

	transition: 0.3s;

}

.workthumb a {
	font-size: 17px;
}

.workthumb:hover {
	transform: scale(1.1);
}

.workthumb img {
	width: 100%;
	border-radius: 8px;

}

.visit {
	margin-top: 67px;
	margin-bottom: 96px;
	/*background-color: salmon;*/
	display: grid;
	justify-items: end;
}

.visit img {
	margin-top: 13px;
	border: 3px solid black;

}

/*akhir my work*/

.reviewdisplay {
	margin-top: 30px;
	background-color: black;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;

	display: grid;
	justify-items: center; 
	grid-template-columns: repeat(auto-fit, minmax(399px, 1fr));
	/*grid-template-columns: 1fr 1fr;*/
	grid-gap: 30px;
}

.review {
	width: 91.6%;
	height: 96px;
	margin-bottom: 30px;
	/*background-color: yellow;*/
	padding: 5px;
	color: white;

	border-radius: 5px;
	border: 5px solid #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
}