/*css reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*akhir css reset*/

/*awal all*/

h1, h2, h3, p, a {
	color: white;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	font-size: 140px;

}

h2 {
	font-family: 'Orbitron', sans-serif;
	font-size: 70px;
	color:#90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);

}

h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	margin-bottom: 10px;
	color: #b8b8b8;

}

a {
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	font-size: 20px;
}

span {
	font-family: 'Orbitron', sans-serif;
	text-decoration: none;
	font-size: 20px;
}


body {
	background-color: black;
}

@media all and (max-width: 767px) {
	h1{
		font-size: 110px;
	}

	h2{
		font-size: 55px;
	}

	h3{
		font-size: 18px;
	}

	p{
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.container {
	margin-left: 10.17%;
	margin-right: 10.17%;

}


.more a {
	color: #7E7E7E;
	transition: 0.15s;
}

.more:hover a {
	color: #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
}

.line {
	background-color: #FA7EFF;
	height: 6px;
	margin-top: 10px;
	margin-right: 59.5%;
	border: 1px solid rgba(245, 0, 245, 0.5);
	border-radius: 8px;
	filter: drop-shadow(0px 0px 8px #F500FE);

}

.intro .line {
	margin-right: 16.2%;
}

/*background*/
.bg {
	position: fixed;
	width: 100%;
	/*margin-right: 1%;
	margin-left: 1%;*/
	z-index: -999;
}

@media all and (min-width: 768px){
	.bgp {
	display: none;
	}
}


@media all and (max-width: 767px) {
	.container {
		margin: 0px auto;
	}

	.bg{
		display: none;
	}

	.bgp {
	position: fixed;
	width: 100%;
	/*margin-right: 1%;
	margin-left: 1%;*/
	z-index: -999;
	}

	.more {
	
	margin-left: 20%;
	}

}

/*akhir background*/

/*akhir all*/



.back {
	margin-top: 30px;
	margin-left: 10.17%;
}

@media all and (max-width: 767px) {
	.back {
	margin-top: 20px;
	margin-left: 8.6%;
}


}

/*awal navbar*/
.navbar {
	display: flex;
	background-color: black;
	height: 45px;
	align-items: center;
}

.nav {
	/*background-color: lime;*/
	margin-left: 10.17%;
	margin-right: 10.17%;
}

.nav h3 {
	color: #FA7EFF;
	filter: drop-shadow(0px 0px 9px #F500FE);
}
/*akhir navbar*/





/*awal main profile*/
.mainprofile {
	/*background-color: lime;*/
	height: 334px;
	display: flex;

}

.mainprofile .min768 {
	margin-left: 8.45%;
	align-self: center;
}

.min768 {
	display: block;
}

.max767 {
	display: none;
}

.mainid {
	flex-flow: column;
	align-self: center;
	margin-left: 16px;
}

@media all and (max-width: 767px) {
	.min768 {
	display: none;
}

.max767 {
	display: block;
	margin-left: 8.45%;
	align-self: center;
}

}
/*akhir main profile*/





/*awal detail*/
.detail {
	background-color: rgba(0, 0, 0, 50%);
	display: flex;
	height: 314px;


	justify-content: space-around;
}

.secondary {
	align-self: center;
}

.contact {
	align-self: center;
}

.contact a {
	/*background-color: lime;*/
	display: flex;
	width: 161px;
	height: 39px;
	margin-bottom: 20px;
}

.icon {
	color: #7e7e7e;
	fill: #7e7e7e;

	transition: 0.3s;
}

.contact a p {
	font-family: 'Orbitron', sans-serif;
	color: #7e7e7e;
	margin-bottom: 0px;
	align-self: center;

	transition: 0.3s;

}

.contact a:hover p {
	color: #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
}	

.contact a:hover .icon {
	fill: #90DDEB;
	filter: drop-shadow(0px 0px 9px #01C8EE);
}

@media all and (max-width: 767px) {
	.detail {
	display: flex;
	flex-direction: column;
	height: 464px;

	align-content: space-around;


	}

	.secondary, .contact {
		align-self: start;
		margin-left: 8.6%;
	}

	.contact a {
		width: 151px;
	}

}
/*akhir detail*/











/*template*/
.tempsvg {
	display: none;
}